.img-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* 800px 이하일 때 flex-direction을 column으로 변경 */
@media (max-width: 720px) {
  .img-wrapper {
    flex-direction: column;
  }
}

.box {
  display: flex;
  flex-direction: column;
}

img {
  width: 200px;
  height: auto;
}
