.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

@media (max-width: 720px) {
  .content {
    flex-direction: column;
  }
}

.title {
  color: black;
  border-bottom: 8px solid #bdf347;
  display: inline-block;
  font-size: 52px;
  font-weight: "semi-bold";
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
}

.section {
  margin: 0;
  padding: 0;
  display: flex;
  background: linear-gradient(to right, #0dc0de, #9acf95, #fadd5b);
  width: 100vw;
  flex: 1;
  min-height: 100%;
  box-sizing: border-box;
}

.section-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  padding: 26px 32px;
  box-sizing: border-box;
}

article {
  flex: 1;
}
